<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <h1>Graficación de Registros de Tickets por Día</h1>
        <canvas id="myChart"></canvas>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Realizar la solicitud AJAX para obtener los datos
            fetch('/data_grafica_tickets')
                .then(response => response.json())
                .then(data => {
                    // Configurar la gráfica con los datos recibidos
                    const config = {
                        type: 'bar',
                        data: {
                            labels: data.labels,
                            datasets: [{
                                label: 'Registros de Tickets por Día',
                                data: data.data,
                                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                borderColor: 'rgba(255, 99, 132, 1)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    };

                    // Crear la instancia de la gráfica
                    var myChart = new Chart(
                        document.getElementById('myChart'),
                        config
                    );
                })
                .catch(error => {
                    console.error('Error al obtener los datos:', error);
                });
        });
    </script>
</body>
</html>
